<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./partials/head') %>
  </head>
  <body>
       <% if(message['authError']) {  %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <!-- <strong>Holy guacamole!</strong> You should check in on some of those fields below. -->
        <h4> <%= message['authError'] %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>

     <!-- nav bar -->
      <%- include('./partials/navbar') %>


    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="row  justify-content-center">
        <div class="form-group col-md-4 col-md-offset-5 align-center">
            <div class="card " style="width: 30rem;">
               <h2>Login</h2>
              <div class="card-body">
                <form action = "/login" method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email" 
                        name="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                      <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="exampleInputPassword1"
                      />
                    </div>
                    <div class="mb-3 form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="exampleCheck1"
                      />
                      <label class="form-check-label" for="exampleCheck1"
                        >Check me out</label
                      >
                    </div>

                    <!-- if Eroor Comes -->
                     
                    <% if(message && message.error) { %>

                    <div class="alert alert-danger" role="alert">
                        <%= message?.error %>
                    </div>

                    <% } %>

                    <button type="submit" class="btn  btn-outline-success">Signin</button>
                    <a href="/signup" class="btn  btn-outline-success">Signup</a>
                  </form>
               
              </div>
            </div>
        </div>
      </div>
    </div>

    <footer><%- include('./partials/footer') %></footer>

  </body>
</html>
